<div class="footer">
  <div class="footer-container">
    <div class="row">
      <div class="footer-col-3">
        <h3>SHOP</h3>
        <ul>
          <li>Fiction</li>
          <li>Non-Fiction</li>
          <li>Children's Books</li>
          <li>Academic</li>
          <li>Biography</li>
          <li>Poetry</li>
        </ul>
      </div>
      <div class="footer-col-3">
        <h3>CORPORATE INFO</h3>
        <ul>
          <li>About TheLitStore</li>
          <li>Careers</li>
          <li>Press</li>
          <li>Blog</li>
          <li>Contact Us</li>
        </ul>
      </div>
      <div class="footer-col-3">
        <h3>HELP</h3>
        <ul>
          <li>Customer Service</li>
          <li>My Account</li>
          <li>Find a Store</li>
          <li>Shipping & Delivery</li>
          <li>Returns & Exchanges</li>
        </ul>
      </div>
      <div class="footer-col-3">
        <h3>Join Our Book Club</h3>
        <ul>
          <p>Subscribe to our newsletter for book recommendations, author interviews, and exclusive offers!</p>
          <a href="#">SUBSCRIBE &#8594;</a>
        </ul>
      </div>
    </div>
    <div class="copyright">
      <p>The content of this site is copyright-protected and is the property of TheLitStore. TheLitStore's business concept is to offer quality books at the best price in a sustainable way.</p>
      <a href="#">READ MORE</a>
      <img src="images/AestheLogo-red.png" alt="">
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
<script src="/script.js"></script>
</body>

</html>